#header{
    height: 20%;
    width: 100%;
    border: 3px solid black;
    background: darkblue;
}
#logo{
    height: 93%;
    width: 10%;
    background-color: darkgrey;
    border: 4px solid black;
    float: left;
}
.img{
    height: 100%;
    width: 100%;
}
.img:hover{
    background-color: chartreuse;
}
#title{
    text-align: center;
    text-decoration-color: chartreuse;
    height: 100px;
    width: 45%;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 0.5s ease-in-out infinite alternate;
    float: left;
}
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
h1{
    font-size: 50px;
    padding: 10px;
    margin: 0px;
    color: darkred;
    margin-left: 20px;
}
h1::hover{
    display: block;
    font-size: 24px;
    color: navy;
}
#head{
    height: 80px;
    display: block;
    text-align: center;
    font-size: 40px;
    margin: 5px;
    margin-top: 10px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
    background-color: orangered;
    border: 4px solid black;
    float: left;
    transition: 1s;
}
a{
    text-decoration: none;
}
#head:hover{
    background-color: rgb(12, 3, 0);
    color: orangered;
    border-top: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 5px solid yellow ;
    border-left: 5px solid yellow ;
    transition: 1s;
}
#container{
    height: 70%;
    width: 100%;
    border: 3px solid black;
    background-color: lightgray;
}
.centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
footer{
    border: 3px solid black;
    background-color: crimson;
    height: 5%;
    width: 100%;
    text-align: center;
}